<app-header></app-header>

<ion-content class="ion-padding">
  <p>{{compt|toTime}}</p>
  <ion-button (click)="start()" [disabled]="timerId">Start</ion-button>
  <ion-button (click)="stop()" [disabled]="!timerId">Stop</ion-button>
  <ion-button (click)="reset()" [disabled]="compt===0">Reset</ion-button>
</ion-content>
