<app-header></app-header>

<ion-content class="ion-padding">
  <p>{{ compt }}</p>
  <ion-button (click)="decrease()" [disabled]="compt <= 0">-</ion-button>
  <ion-button (click)="increase()" [disabled]="compt >= 9">+</ion-button>
</ion-content>
