<app-header></app-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nouvel article</ion-label>
    <ion-input [(ngModel)]="newArticle"></ion-input>
  </ion-item>
  <ion-button (click)="add()" color="secondary" [disabled]="!newArticle">+</ion-button>
  <ion-list>
    <ion-item *ngFor="let item of articles">
      <span slot="start"><ion-icon  *ngIf="item.isChecked" color="success" name="checkmark"></ion-icon></span>
      <span (click)="openActions(item)">{{ item.name }}</span>
    </ion-item>
  </ion-list>
</ion-content>
