<app-header title="Home"></app-header>
<ion-content class="ion-padding">
    <button>Click me</button>
    <ion-button>Click me</ion-button>

    <ul>
        <li>item 1</li>
        <li>item 2</li>
    </ul>

    <ion-list>
        <ion-item>item 1</ion-item>
        <ion-item>item 2</ion-item>
        <ion-item>item 3</ion-item>
    </ion-list>
</ion-content>
